
.bannerContainer.color{
    min-height: 90vh;
    position: relative;
    // background: linear-gradient(-45deg,#198754e4, #198754fd, #0d6dfddd, $secondaryTrans) !important;
    background: linear-gradient(-45deg, #ee7752, #0d6dfddc, $secondaryTrans, #0d6dfdff);
	background-size: 300% 300%;
    animation: gradient 20s ease infinite;
}
.bannerContainer.light{
    min-height: 90vh;
    position: relative;
    background: linear-gradient(180deg, #0d6dfdca,#f1f1f1, #ffffff); 
    background-size: 300% 300%;
    animation: none;;
}
.bannerContainer::before{
    content: "";
    background: url("https://images.unsplash.com/photo-1594415156038-02d665441df2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.formBannerContainer.color{
    background: linear-gradient(180deg, $secondary, $primary); 
    background-size: 100% 100%;
    animation: gradient 15s ease infinite;
}
.formBannerContainer.light{
    background: linear-gradient(-95deg,#343a40da, rgb(35, 53, 80), rgba(255, 255, 255, 0.547), #0d6dfde6);
    background-size: 200% 200%;
    animation: none;
}
.infoBarContainer.light{
    background: linear-gradient(-180deg, #0d6dfdaa, rgba(87, 99, 186, 0.826)) !important;
    background-size: 300% 300%;
    color: white !important;
}
.infoBarContainer.color{
    // background-color: $secondary2;
    background: linear-gradient(180deg, $secondary, $secondary); 
    color: rgba(255, 255, 255, 0.957); 
}
.containerProductBanner.light{
    background: linear-gradient(-95deg, $primaryTrans, rgba(255, 255, 255, 0.547), #f3f3f3e6);
    color: black !important;
}
.containerProductBanner.color{
    background: linear-gradient(40deg, $primary, $secondary) !important;
    color: white;
}
.containerProductBanner > img {
    border-radius: 1rem;
}

@keyframes gradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes grow {
    0%{max-height: 20vh; opacity: 10%; filter: blur(25%)}
    100%{max-height: 40vh; opacity: 100%; filter: blur(0%)}
}