
.bannerContainer{
    min-height: 90vh;
    position: relative;
    background: linear-gradient(-45deg,#198754e4, #198754fd, #0d6dfddd, $secondaryTrans) !important;
    background-size: 300% 300% !important;
    animation: gradient 25s ease infinite !important;
}
.bannerContainer::before{
    content: "";
    background: url("https://images.unsplash.com/photo-1594415156038-02d665441df2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.formBannerContainer{
    background: linear-gradient(-95deg,#343a40da, $secondary, #198754e4, #0d6dfddc) !important;
    background-size: 300% 300% !important;
    animation: gradient 25s ease infinite !important;
}

@keyframes gradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes grow {
    0%{max-height: 20vh; opacity: 10%; filter: blur(25%)}
    100%{max-height: 40vh; opacity: 100%; filter: blur(0%)}
}
