
.bannerContainer{
    min-height: 90vh;
    position: relative;
    // background: linear-gradient(-45deg,#198754e4, #198754fd, #0d6dfddd, $secondaryTrans) !important;
    background: linear-gradient(-45deg, #ee7752, #0d6dfddc, hsla(152, 69%, 31%, 0.93), #0d6dfdff);
	background-size: 300% 300%;
	animation: gradient 20s ease infinite;
}

.color{
    // background: linear-gradient(-45deg,#198754e4, #198754fd, #0d6dfddd, $secondaryTrans) !important;
    background: linear-gradient(-45deg, #ee7752, #0d6dfddc, hsla(0, 0%, 100%, 0.757), rgba(13, 109, 253, 0.861));
    background-size: 200% 200%;
    animation: none;
}

.bannerContainer::before{
    content: "";
    background: url("https://images.unsplash.com/photo-1594415156038-02d665441df2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.formBannerContainer{
    background: linear-gradient(-95deg,#343a40da, $secondary, #198754e4, #0d6dfddc);
    background-size: 300% 300%;
    animation: gradient 25s ease infinite;
}

@keyframes gradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes grow {
    0%{max-height: 20vh; opacity: 10%; filter: blur(25%)}
    100%{max-height: 40vh; opacity: 100%; filter: blur(0%)}
}