video{
    width: 100% !important;
    position: relative;
    z-index: -2;
}
@media (min-width: 800px){
    .videoInnerContainer::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: linear-gradient(-95deg,#343a40ed, $primary, #198754f0, #0d6dfddc) !important;
        background-size: 300% 300% !important;
        -webkit-animation: gradient 35s ease infinite !important;
        -moz-animation: gradient 35s ease infinite !important;
        -o-animation: gradient 35s ease infinite !important;
        animation: gradient 35s ease infinite !important;
    }
}
.videoContainer{
    width: 100%;
    position: relative;
}
@media (max-width: 800px){
    .videoContainer{
        width: 100%;
        height: 50vh;
        color: rgba(0, 0, 0, 0.943) !important;
        position: relative;
    }
    .videoContainer::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        // background: linear-gradient(to bottom, #198754da, $success, $primary ) !important;
        color: rgba(0, 0, 0, 0.943) !important;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.812), $light, $primary) !important;
        // -webkit-animation: gradient 35s ease infinite !important;
        // -moz-animation: gradient 35s ease infinite !important;
        // -o-animation: gradient 35s ease infinite !important;
        animation: gradient 35s ease infinite !important;
    }
}
.contentContainer{
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    h1{
        padding-top: 25% !important;
        margin: auto;
    }
}
@-webkit-keyframes gradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-webkit-keyframes grow {
    0%{max-height: 20vh; opacity: 10%; filter: blur(25%)}
    100%{max-height: 40vh; opacity: 100%; filter: blur(0%)}
}
@keyframes grow {
    0%{max-height: 20vh; opacity: 10%; filter: blur(25%)}
    100%{max-height: 40vh; opacity: 100%; filter: blur(0%)}
}