video{
    width: 100% !important;
    position: relative;
    z-index: -2;
}
.videoInnerContainer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(-95deg,#343a40ed, $primary, #198754f0, #0d6dfddc) !important;
    background-size: 300% 300% !important;
    animation: gradient 35s ease infinite !important;
}
.videoContainer{
    width: 100%;
    position: relative;
}
.contentContainer{
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    // align-items: center;                    //Same as our center mixin
    // justify-content: center;
    // text-align: center;
    h1{
        padding-top: 25% !important;
        margin: auto;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes grow {
    0%{max-height: 20vh; opacity: 10%; filter: blur(25%)}
    100%{max-height: 40vh; opacity: 100%; filter: blur(0%)}
}

@mixin animacionKeyframes{
    @keyframes grow {
        0%{max-height: 20vh; opacity: 10%; filter: blur(25%)}
        100%{max-height: 40vh; opacity: 100%; filter: blur(0%)}
    }
}